/* - - - - - - FONTS - - - - - - */

@font-face {
  font-family: caveat-regular;
  src: url("fonts/caveat-regular.ttf");
}

@font-face {
  font-family: Handlee;
  src: url("fonts/Handlee.ttf");
}

@font-face {
  font-family: HomemadeApple;
  src: url("fonts/HomemadeApple.ttf");
}

/* - - - - - - BACKGROUND - - - - - - */

.bg-image {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  overflow: scroll;
  width: 100vw;
  height: 100%;
  background-image: url("images/hatter/bg5.jpg");
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* - - - - - - NAVIGATION - - - - - -*/

.navigation li {
  list-style: none;
  display: inline-block;
  font-size: 2.3vw;
  color: white;
  margin: 0 3%;
}

.navigation ul {
  margin: 40px 0;
  text-align: center;
  padding: 0px;
  font-family: "HomemadeApple", cursive;
}

#logopicture {
 height: 180px;
}

p {
  font-family: "caveat-regular", cursive;
  font-size: 1.15vw;
}

/* - - - - - - LOGO - - - - - - */

#aboutmelogo {
  width: 25%;
  border-radius: 300px;
}

/* - - - - - - HOVER - - - - - - */

.navigation li:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.navigation li {
  transform: scale(1);
  transition-duration: 0.2s;
}

/* - - - - - - MEDIA QUERIES - - - - - - */

@media screen and (max-width: 600px) {
  body {
    background-attachment: fixed;
    background-image: url("images/hatter/bg3small.jpg");
  }
  .navigation {
    margin-top: -30px;
  }
  .navigation li {
    font-size: 40px;
    margin: 8px 0;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  ul li:nth-child(3) {
    order: -1;
  }
  #logopicture {
    width: 60%;
    height: 60%;
  }
  p {
    display: none;
  }
}
